name = "waifuxl_upscale_counter"
# type = "javascript" is required to use the `[build]` section
type = "javascript"
workers_dev = true
account_id = "3cbad5ff56412d5cb6e11215769f870d"
route = "/Counter"
zone_id = ""
compatibility_date = "2022-05-08"

[build.upload]
# Upload the code directly from the src directory.
dir = "src"
# The "modules" upload format is required for all projects that export a Durable Objects class
format = "modules"
main = "./index.mjs"

[durable_objects]
bindings = [{name = "COUNTER", class_name = "Counter"}]

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["Counter"]
