#stock-image,
#before-image,
#after-image {
  width: auto;
  height: 70vh;
}

@media (max-width: 640px) {
  #stock-image,
  #before-image,
  #after-image {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }
}
